//variabler
$backgroundGradient: linear-gradient(164deg,
    #310056 4.01%,
    #8e69ff 55.23%,
    #a215b5 99.09%);
// Ändrade från  #7b47e1; då den under verkar användas ist ? 9/3
$buttonPurple: #8e69ff;
$buttonPurpleHover: #7255c9;


$greybackgroundColorBtnFilterSort: #d3d0d0;
$greybackgroundColorBtnFilterSortHover: #b3b1b1;

//Bakgrunsfärg på containrar login, habit, tasks
$backgroundColorContainer: #eeeeee;
$bg-primary: #ffffff;


.red {
  //används endast till test
  background-color: #e70909;
}

.green {
  //används endast till test
  background-color: green;
}

.hide {
  display: none;
}

//När man klickar på denna (toggle) så stryks ett sträck ovanför
.completed {
  text-decoration: line-through;
}

body {
  //background-image: linear-gradient(#A7A0CE 0%, #302185 100%);
  background: $backgroundGradient;
  margin: 0;
  //height: 100vh;
}

//typografi

h1,
h2,
h3,
h4,
h5 {
  font-family: Helvetica, sans-serif;
}

p,
button,
li,
label,
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 1.43em;
}

h1 {
  color: white;
  font-size: 1.4em;
}

button {
  margin: 3px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 3px;
  border: 1px solid rgb(108, 108, 108);
}

nav {
  background-color: #310056;
  box-shadow: 0px 2px 10px 10px rgba(3, 3, 3, 0.04);
  display: flex;
  flex-direction: row;

  text-align: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px; ////padding på sidorna kannske inte ska läggas

  #navLogoText {
    color: white;
    flex: 1; // Så att det tar upp så mycket utrymme som möjlifr för att hålla logout-knappen till höger
    text-align: center;
  }

  #logOutBtn {
    height: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.45);
    justify-content: right;
  }

  #userIcon {
    height: 15px;
    margin-right: 8px;
  }
}

main {
  width: 100vw;
  padding: 3%;
  box-sizing: border-box;

  #userContentContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    #qotd {
      //detta refererar rubriken
      color: grey;
      margin-bottom: 0.5em;
    }

    #quoteParagraph {
      font-style: italic;
      font-size: 12px;
      margin-top: 0;
      color: grey;
    }

    //Add new relaterat

    input[type="text"],
    textarea,
    input[type="number"],
    input[type="date"] {
      color: grey;
      margin-bottom: 10px;
    }

    label {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
    }

    select {
      color: grey;
      margin-bottom: 10px;
    }

    #taskTitle,
    #taskDescription {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 14px;
      resize: vertical; // För att förhindra att vyn görändras. Kan ändras till annan höjd om så önskas
      max-height: 200px;

    }

    #leftColumn {
      box-sizing: border-box;
      width: 29%;
      padding-top: 0;
    }

    #todo-container,
    #habitsContainer {
      box-sizing: border-box;



      #applyFiltersButton,
      #restoreTasksBtn, #applyHabitFiltersButton {
        background-color: $buttonPurple;
        color: white;
        font-weight: 600;
        border: none;

        &:hover {
          background-color: $buttonPurpleHover;
        }


      }

      .sortingBox {
        background-color: white;
        padding: 4px;
        border-radius: 4px;
      }

      .sortingBox p {
        font-size: 14px;
      }

      .sortingBox button {
        background-color: $buttonPurple;
        color: white;
        font-weight: 600;
        border: none;

        &:hover {
          background-color: $buttonPurpleHover;
        }
      }

      .filterBox {
        background-color: white;
        padding: 4px;
        border-radius: 4px;

        input[type="checkbox"] {
          margin-right: 5px;

          // Ändra färgen på kryssrutorna till lila
          &:checked {
            accent-color: $buttonPurple;
          }
        }
      }
    }


    .delete i {
      color: #e70909;
    }

    button.delete {
      border: none;
    }

    .edit i {
      color: #310056;
    }

    button.edit {
      border: none;
    }

    .toggle {
      background-color: F0F0F0;
      border: none;

    }

    .completedBtn {
      background-color: F0F0F0;
      border: none;

    }

    #saveChangesBtn {
      background-color: F0F0F0;
      border: none;
    }

    .mainColumn {
      align-items: center; // Ändrat 5/3
      display: flex;
      flex-direction: column;
      box-sizing: content-box; // Får spalterna att bli något smalare , bör vi ha "
      padding: 2%;
      // width: 27%;

      section {
        background-color: white;
        padding: 5%;
        width: 100%;
        border-radius: 4px;
        box-shadow: 0px 0px 5.8px 0px rgba(0, 0, 0, 0.25);

        margin-bottom: 5%;

        display: flex;
        flex-direction: column;
      }
    }

    .listColumn {
      padding: 2%;
      width: 29%;
      background-color: $backgroundColorContainer;
      border-radius: 4px;
      box-shadow: 0px 0px 5.8px 0px rgba(0, 0, 0, 0.25);

      .filterSortingBtnContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;


      }
    }

    .showSortingBtn,
    .showFiltersBtn {
      width: 45%;
      border: none;
      background-color: $greybackgroundColorBtnFilterSort;

      &:hover {
        background-color: $greybackgroundColorBtnFilterSortHover;
      }
    }
  }
}

ul {
  list-style-type: none;
  padding-left: 0;

  li {

    background-color: white;
    padding: 4%;
    border-radius: 4px;
    box-shadow: 0px 0px 5.8px 0px rgba(0, 0, 0, 0.25);

    p,
    span {
      font-size: 12px;
    }

    margin-top: 5%; //Ändrat 6/3
    margin-bottom: 5%; //Ändrat 6/3
  }
}

.card {
  width: 90%;
  background-color: $bg-primary;
}

//Tillagd css 9/3 , ändra om ni önskar behöver
#newTaskSection {
  text-align: center;
  /* Centrera knappens innehåll vertikalt */

  #taskStatusContainer {
    input[type="checkbox"] {
      margin-right: 5px;

      // Ändra färgen på kryssrutorna till lila
      &:checked {
        accent-color: $buttonPurple;
      }
    }

  }
}

.addBtn {
  background-color: $buttonPurple;
  color: white;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.45);
  font-weight: 600;
  width: 10rem;
  margin: auto;
  /* Centrera knappen horisontellt */
  margin-top: 10px;
  /* Lägg till lite toppmarginal */
  padding: 0.5rem 1rem;
}

.addBtn:hover {
  background-color: $buttonPurpleHover;
}


#weatherSection {
  .card {
    width: 0%;
    max-width: 470px;
    color: gray;
    margin: auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
 p{

font-weight: 600;
 }
    .search {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    

     input {
      border: 0;
      outline: 0;
      background-color: white;
      border: 3px solid #ccc;
      color: #555;
      padding: 0;
      height: 60px;
      border-radius: 30px;
      flex: 1;
      margin-right: 0px;
      font-size: 18px;
    }
  }

    .search button {
      border: 0;
      outline: 0;
      background-color: white;
      border-color: gray;
      border-radius: 50%;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    .search button img {
      width: 16px;
    }

    .weather-icon {
      width: 80px;
      margin-top: 30px;
    }

    .weather h1 {
      color: gray;

      font-weight: 500;
    
    }

    .weather h2 {
      color: gray;
      font-size: 24px;
      font-weight: 400;
      margin-top: -10px;
    }

    .details {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;
      margin-top: 50px;
    }

    .col {
      display: flex;
      align-items: center;
      text-align: center;
    }
    p{
      font-size: 10px
    }

    .col img {
      width: 40px;
      margin-right: 10px;
    }

    .humidity,
    .wind {
      font-size: 18px;
      margin-top: -6px;
    }

    .weather {
      display: none;

    }

    .error {
      text-align: center;
      margin-left: 10px;
      font-size: 14px;
      margin-top: 10px;
      display: none;
    }

    .error p {
      font-weight: 300;
    }





  }

}


footer {
  display: flex;
  position: relative;
  text-align: center;
  background-color: #202020;
  color: white;
  width: 100vw;
  bottom: 0px;
  justify-content: center;
}


//styling för loginsida

#html2 {
  height: 100vh;

  //   #body2 {
  //   }

  main {
    padding: 5%;
    padding-top: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 2em;
      transform: rotate(-8deg); //Ändrar graden på texten
      font-weight: 800;
    }

    #loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

      width: 30%;
      height: 15rem;
      background-color: $bg-primary;
      border-radius: 14px;
      box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.45);

      .rowDivs {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 14px;

        #registerBtn,
        #logInBtn {

          background-color: $buttonPurple;
          color: white;
          border: none;
          border-radius: 3px;
          box-shadow: 0px 0px 1.5px 0px rgba(0, 0, 0, 0.45);
          font-weight: 600;
          margin-left: none;

          //Knapparnas utformande , kan ändras såklart om vi ej vill ha fasta tal
          width: 10rem;
          margin: 0.5rem;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: $buttonPurpleHover;
          }
        }
      }

      .columnDivs {
        display: flex;
        flex-direction: column;
        padding: 20px;

        input {
          margin: 5px;
          border-radius: 4px;
          border: 0.5px solid #717171;
        }
      }
    }
  }

  //Styling av wether.js



}